body {
    background-color: #272B44;
    font-family: 'Nunito', sans-serif;
}

#conectados{
    background-color: #2C325B;
    box-shadow:1px 3px 5px rgba(0,0,0,0.5);
}
#chat-container{
    background-color: #2C325B;
    box-shadow:1px 3px 5px rgba(0,0,0,0.5);
}

#chat-window{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
}


#chat-mensaje{
    color :#aaa;
    padding: 14px 0;
    margin: 0 20px;
}


#actions{
    color :#aaa;
    padding: 14px 0;
    margin: 0 20px;
}
input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background:#8290F0;
    display: block;
    width: 100%;
}
h1{
    color:#fff
}

.letras{
    color:#fff
}

