body {
    background-color: #66FF68;
    font-family: 'Nunito', sans-serif;
}

#chat-container{
    background-color: #C7FFC7;
    max-width: 400px;
    height: 400px;
    overflow-y: auto;
    margin: 30px auto;
    border :solid 1px #eee;
    box-shadow:1px 3px 5px rgba(0,0,0,0.5);
}

#chat-window{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    color: #666;
}


#chat-mensaje{
    color :#aaa;
    padding: 14px 0;
    margin: 0 20px;
}


#actions{
    color :#aaa;
    padding: 14px 0;
    margin: 0 20px;
}
input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background:#eee;
    display: block;
    width: 100%;
}

